.eatable_component{
   display: flex;
   flex-direction: column;
   height: 79vh;
   width: 85vw;
   box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
   border-radius:10px;
   padding:1%;
   overflow-x: hidden;
   overflow-y:auto;
}
.leave_card_table_outlet{
  display: flex;
  flex-direction: column;
  height:61vh;
  width:83vw;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  border-radius:10px;
  padding:1%;
  overflow-x: hidden;
  overflow-y:auto;
}
.eatable_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.eatable_header h4{
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}
.eatable_header h4 span{
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #2F2F2F66;
  margin-left: 1.5vw;
}
.eatable_header_search{
 height: 42px;
 border: 1px solid black;
 display: flex;
 align-items: center;
 border-radius: 8px;
}
.search-button{
  background-color: white;
  font-size:25px;
  padding-left: 3px;
  border: none;
  height: max-content;
  outline: none;
}
.eatable_header input{
  text-align: left;
  width: 187px;
  height: 36px;
  border: none;
  outline: none;
  padding-left: 6px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none  ;
}
th{
  padding: 15px;
  color: #4F5E74;
  font-family:'Inter';
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  letter-spacing: 0.019999999552965164px;
  text-align: left;
}
td {
  white-space: nowrap;
  padding: 15px;
  color: #70768C;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.15399999916553497px;
  text-align: left;
}
.table_emp_name{
  display: flex;
  gap:19px;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.15399999916553497px;
  line-height: 18px;
  text-align: left;
  color: black;
}
.table_name_email{
  width: 140px;
  }
.table_name_email p{
  color: #70768C;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: -0.15399999916553497px;
  text-align: left;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}
.form-select{
  border: none;
  outline: none;
  color: #4F5E74;
  width: 130px;
  height: 27px;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.15399999916553497px;
  text-align: left;
}
option{
  border: none;
  outline: none;
}
.leave_action{
  position:absolute;
  width: 158px;
  height: 19vh;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #C4C4C4; 
  display: none;   
}
.leave_action h5{
color: black;
font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
letter-spacing: -0.15399999916553497px;
text-align: left;
border-radius: 0px 4px 4px 4px;
}
.threedot:hover + .leave_action {
  display: block;
}

 @media (max-width:1060px){
  .eatable_header input{
    padding-left: 5vw;
  }
  .eatable_component{
    display: flex;
    flex-direction: column;
    height: 82vh;
    width: 83vw;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border-radius:10px;
    padding:1%;
    overflow-x: auto;
    overflow-y:auto;
 }
 .leave_card_table_outlet{
  overflow-x: auto;
  overflow-y:auto;
 }
}

@media (max-width: 1216px) {
  .eatable_component{
    height: 79vh;
    width: 91vw;
} 
}
@media (max-width:1027px) {
    .eatable_header_search{
     display: none;
  }
}
@media (max-width:920px) {
  .leave_card_table_outlet{
     width: 90vw;
  }  
}
@media (max-width: 912px) {
  .emplist_header {
   width: 93vw;
   height: 15vh;
  }
  .emplist_header_button{
      width:20vw;
      height:100px;
      display:flex;
      flex-direction: column;
      gap: 10px;
  }
}
@media (max-width:589px) {
  .leave_card_table_outlet{
     width: 96vw;
  }  
}
@media (max-width:497px) {
  .eatable_component{
   width: 99vw;
  }
}