.detailofemp_card{
    width: 80vw;
    height: 40vh;
    padding-bottom: 20px;
    box-shadow: 0px 0px 0.9px 0px rgba(0,0,0,0.75);
    border-radius: 13px;
    margin-left: 10px;
}
.detailofemp_card_header{
    width: 100%;
    display: flex;
    font-family:'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    padding: 20px 20px;
    padding-bottom: 10px;
}
.dhone{
    flex-grow: 1;
}
.dhtwo{
    flex-grow: 0;
    font-size: 30px;
}
.detailofemp_card_header h3{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 800;
    line-height: 18.75px;
    text-align: left;
    width:195px;
    height:19px;
}
.detailofemp_card_header span{
}
.detailofemp_input{
    padding-left:5vw;
    width: 70vw;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 25px;
}
.detailofemp_input label{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}
.detailofemp_input span{
    color: red;
}
.detailofemp_input input{
    width: 277px;
    height: 40px;
    padding-left:30px;
    border-radius: 6px;
    border: 1px solid #C4C4C4;    
    margin-top: 10px;
    outline: none;
}
.detailofemp_input div{
    display: flex;
    flex-direction: column;
}

@media (max-width:1242px){
    .detailofemp_card{
        width: 94vw;
        box-shadow: 0px 0px 0.9px 0px rgba(0,0,0,0.75);
        border-radius: 13px;
        margin-left: 10px;
    }
    .detailofemp_input{
        width:100%;
    }
    .detailofemp_input input{
        width: 300px;
    }
}
@media(max-width:1094px){
    .detailofemp_card{
        height: max-content;
        padding: 10px;
    }
    .detailofemp_input{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
}
@media(max-width:744px){
    .detailofemp_input{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .detailofemp_input input{
        width: 90%;
    }
}

