.signInCard{
    width: 50vw;
    height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 6%;
    padding-left:8vw;
    gap:10vh
}
.signInCard_logo{
    display: flex;
    gap:1vw;
}
.signInCard_logo img{
    width: 60px;
    height: 60px; 
    border-radius: 10px 0px 0px 0px;
}
.signInCard_logo h3{
    width: 160px;
    height: 48px;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}
.signinform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25vw;
    height: 50vh;
}
.signinform h1{
    font-family:'Poppins';
    font-size: 62px;
    font-weight: 700;
    line-height: 93px;
    text-align: left;
}
.signinform h2{
    font-family:'Poppins';
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}
.signin_input{
    background-color: white;
    display: flex;
    align-items: center;
}
.signin_input button{
    font-size: 20px;
    padding-left: 10px;
    background-color: white;
    background-color: white;
    border: none;
    height: max-content;
    outline: none;
}
.signin_input input{
    border: none;
    outline: none;
    background-color:white;
    width: 100%;
    height: 3vh;
    border-radius: 5px 0px 0px 0px;
    padding: 6%;
}
.signinbutton{
    border: none;
    width: 100%;
    background-color: red;
    color: white;
    height: 5vh;
}
.signcheckbox{
    display: flex;
    gap:0.5vw;
}

@media screen and (max-width:1010px) {
    .signInCard{
        padding: 50px;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .signin_input button{
        font-size: 20px;
    }  
    .signInCard{
        width:100vw ;
        height: 100vh;
        flex-direction: row;
    }
    .signin_input input{
        height: 50px;
    }
    .signinform{
        display:flex;
        flex-direction: column;
        width: 60vw;
        height: 74vh;
    }
}
@media screen and (max-width:773px){
    .signinform h1{
        font-size: 50px;
    }
    .signInCard{
        width:100vw ;
        flex-direction: column;
    }
    .signinform{
        width: 60vw;
        gap: 10px;
    }
    .signin_input input{
        height: 30px;
    }
    .signinform{
        height: 74vh;
    }
   .signin_input button{
     font-size: larger;
    }
}
