.dash_page{
 display: flex;
 flex-direction: row;
}
.cardanouncement{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap:0.1vh;   
}

@media only screen and (max-width:1104px){
    .dash_page{
        margin: 0%;
        flex-direction: column;
    }
    .cardanouncement,.calenderactivity{
        margin-left: 0%;
    }
}

@media only screen and (max-width:600px){
    .cardanouncement{
        gap:1vh;
    }
    .calenderactivity{
        gap: 0;
    }
}