.dash_page{
 margin-left: 265px;
 display: flex;
 gap: 0px;
 flex-direction: row;
}
.cardanouncement,.calenderactivity{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
/* .calenderactivity{
    display: flex;
    flex-direction: column;

} */