.dash_page{
 display: flex;
 flex-direction: row;
}
.cardanouncement{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;   
}

@media only screen and (max-width:1204px){
    .dash_page{
        margin: 0% 1vw;
        flex-direction: column;
    }
    .cardanouncement,.calenderactivity{
        margin-left: 0%;
    }
}

@media only screen and (max-width:537px){
    .cardanouncement{
        gap: 16vh;
    }
    .calenderactivity{
        gap: 0;
    }
}