.dashnoardcard{
    width: 753px;
    height: 330px;
}
.dashnoardcard h3{
    height:62px;
    padding: 10px 10px 10px 0px;
    font-family:'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
}
.colorcards{
    display: flex;
    justify-content: space-between;
}
.colorcard{
    width: 244px;
    height: 106px;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 12px 12px 20px;
    border-radius: 10px 0px 0px 0px;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cardreports{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5vh;
}
.cardreport{
    display: flex;
    gap: 2px;
    width:363px;
    height:156px;
    padding: 10px 0px 0px 0px;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border: 1px;
}
.card_item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-indent: 1vw;
    font-size: 18px;
}
.subject{
    font-size: 18px;
    white-space: 0px;
    width: 8vw;
}
.count{
   font-size: 48px;
}
 img{
    width: 218px;
    height: 139px;
}
.card_item p{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #686868;
    
}