.dashnoardcard{
    width: 52vw;
    height: 49vh;
}
.dashnoardcard h3{
    height:7vh;
    padding: 10px 10px 10px 0px;
    font-family:'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}
.cardreports{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    width:52vw;
    height:22vh;
}
.cardreport{
    width:25vw;
    display: flex;
    justify-content: space-between;
    right:1vw;
    padding: 10px 8px 0px 5px;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border: 1px;
}
.card_item{
    width: 10vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-indent: 1vw;
    font-size: 18px;
}
.subject{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 31px;
    font-weight: 600;
}
.count{
   font-size: 45px;
}
.report_img{
    align-self: center;
    width: 12vw;
    height: 17vh;
}
.card_item p{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #686868;
    
}

@media (max-width:1238px){
    .dashnoardcard{
        width: 62vw;
    }
    .cardreports{
        width:62vw;
    }
    .cardreport{
        width:30vw;
    }
}
 
@media only screen and (max-width:1104px){
   .dashnoardcard{
     width: 98vw;
   }
   .cardreports{
        width: 98vw;
    }
    .cardreport{
        width: 48vw;
        height: fit-content;
        margin-right: 3vw;
    }
    .card_item{
       width:22vw;
       font-size: 28px;
    }
    .report_img{
        width: 22vw;
    }
}


@media only screen and (max-width:600px){
    .dashnoardcard{
        width: 98vw;
        height: 100vh;
      }
      .dashnoardcard h3{
        margin-bottom: 9px;
      }
    .cardreports{
      flex-direction: column;
      gap:2vh;

    }
    .cardreport{
        width: 96vw;
    }
}