.employeListPage{
    height: 90vh;
    width: 87vw;
    padding-left: 30px;
}
.emplist_header{
    height:7vh;
    width: 82vw;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.item{
    flex-grow: 1;
}
.item:nth-child(2){
    flex-grow: 0;
}
.list_title h3{
    text-align: left;
    line-height: 42px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
}
.emplist_header span{
  font-size: larger;
}
.import_excel_button,.add_employee{
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
    background-color:white ;
    color: black;
    cursor: pointer;
}
.add_employee{
    background-color: black;
    color: white;
}
.import_excel_button{
    margin-right: 3px;
}
@media (max-width:1235px) {
    .emplist_header {
     width: 91vw;
     height: 15vh;
    }
  }

@media (max-width:502px){
    .emplist_header{
        flex-wrap: wrap;
    }
    .item:nth-child(2){
        margin-bottom:10px;
        flex-basis: 500px;
    }
    .add_employee,.import_excel_button{
        padding: 5px;
        padding-bottom: 8px;
        font-size: 12px;
        line-height: 12px;
    }
}
