.birthdayCards{
 width:30vw;
 height:28vh;
}
.birthdayCards_header{
    width: 100%;
    height: 4vh;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}
.birthday_cards{
    height: 26vh;
    display: flex;
    align-items: center;
    gap:2vw;
    overflow-x:scroll;
    padding: 2px;
}
.birthday_card{
    background-color: white;
    width: 13vw;
    height: 22vh;
    padding:10px;
    border-radius: 12px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    border: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.birthday_card img{
    width: 70px;
    height: 75px;
    border-radius: 100%;
}
.birthday_card h3{
    width: 12vw;
    line-height: 4vh;
    font-family: 'General Sans';
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.birthday_card h5{
    font-family:'General Sans';
    font-size: 12px;
    font-weight: 400;
    text-align: center;   
}
.birthday_card p{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}
.birthday_card img {
    width: 59px;
    height: 63px;
    border-radius: 100%;
}
.birthday_cards::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width:1104px){
    .birthdayCards{
        width: 97vw;
    }
    .birthday_card{
        width: 47vw;
    }
    .birthday_card h3{
      width: 45vw;
    }

}
