.layout{
    display: flex;
}

.layout_sidebar {
    width: 13vw;
    flex-basis: 20%;
    z-index: 1;
}
.Menu_bar{
    display: none;
    font-size: 40px;
    flex-basis: 20%;
}
.navbar_layout{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.layout_navbar {
    height: 10%;
}
.layout_content {
    height: 90%; 
}

@media  only screen and (max-width:1190px){
   .layout_navbar{
    height: fit-content; 
}
}

@media only screen and (max-width:1204px){
    .layout_sidebar{
        display: none;
    }
    .Menu_bar{
        display: block;
    }
}
