.navbar {
    height:8vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 0px 0px 30px;
  }
.addemp_nav_header{
        font-family: 'Poppins';
        font-size: 24px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
}
.leave_nav_header{
    margin-left: 0%;
    padding-left: 0%;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
}
.searchbar{
    position: relative;
 } 
.search_bar{
    width: 343px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    border-radius: 4px 0px 0px 0px;
    border: 1px solid #E0E0E0;
    outline: #E0E0E0;  
    background-color: #F5F5F5; 
    position:relative;
}

.search_icon {
    font-size: 26px;
    position:absolute;
    right: 1vw; 
    top: 0.5vw;
    border: none;
    outline: none;
    cursor: pointer;
  }

.navbar_content{
    position: absolute;
    top:1%;
    right:1%;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.notification,.message{
    font-size: 25px;
    color: #686868;
    cursor: pointer;
}
.profile_picture{
    border-radius: 100%;
    width: 35px;
    height: 6vh;
}
.navbar_content h3{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    width: 101px;
    line-height: 24px;  
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;  
}
.navbar_content  span{
    font-size: 25px;
    color: #686868;
    cursor: pointer;
    top: 0.3vh;
    left:-1vw;
}
@media (max-width:1238px){
    .navbar{
        width:96vw;
    }
}
@media (max-width:663px){
  .search_bar,.search_icon{
    display: none;
  }
  .navbar_content{
    gap: 3vw;
    right: -4%;
    width: max-content;
  }
  .navbar{
    width: 96vw;
  }
}

@media (max-width:590px){
    .leave_nav_header{
      display: none;
    }
   
}
@media (max-width:490px){
    .navbar_content{
        right: -4%;
    }
}

    /* @media only screen and (max-width:1204px){ 
        .navbar {
            width:100vw;
            justify-content: space-between;
        }
        .navbar_content{
            width: fit-content;
          }
         
    }
    @media  only screen and (max-width:800px){
        .search_bar{
            width: fit-content;
          }
          .navbar{
            padding-left: 0%;
          }
    }
   
    @media screen and (max-width:436px) {
        .search_bar{
            display: none;
        }
        .navbar_content{
            width: 80vw;
            justify-content: space-around;
        }
    }
   
    @media only screen and (max-width:637px){
       
        .search_bar button{
            display: none;
        }

    } */