.leaverequest_page{
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction:column;
    gap: 3vh;
}
.leavepage_card{
    background-color: aqua;
}

@media (max-width:590px) {
    .leaverequest_page{
        padding-left: 0%;
    }  
}