.colorcards{
    display: flex;
    justify-content: space-between;
    width: 52vw;
    height:15vh;
}

.colorcard,.leave_card{
    width: 16vw;
    padding: 12px 12px 12px 20px;
    border-radius: 10px;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;  
}
.colorcard h4,.leave_card h4{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 37px;
    font-weight: 600;
}
.colorcard p,.leave_card p{
    height: 24px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
}
.leave_cards{
    width:69vw;
    height:20vh;
    display:flex;
    justify-content: space-between;
}

@media (max-width:1246px){
    .leave_cards{
        width: 90vw;
    }
}
@media(max-width:1238px){
    .colorcards{
        width: 62vw;
        height:15vh;
    }
    
    .colorcard,.leave_card{
        width: 20vw; 
    }
}



@media only screen and (max-width:1104px){
    .colorcards{
        width: 98vw;
    }
    .colorcard{
     width: 32vw;
     margin-right: 3vw;
    }
}
@media (max-width:990px){
    .leave_cards{
        height: max-content;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap:8px;
    }
    .leave_card{
        width:43vw;
        height: max-content;

    }
}

@media only screen and (max-width:600px){
  
    .colorcards{
      height: 49vh;
      flex-direction: column;
      gap:2vh;
    }
    .colorcard{
        width: 96vw;
        height: 18vh;
    }  
}

@media (max-width:590px){
    .leave_cards{
        padding-left: 0%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
   } 
   .leave_card{
    width: 96vw;
   }
   .colorcard{
    padding-bottom: 5rem;
   }
}