.calender{
    width: 600px;
    height: 330px;
}

.calender h3{
    height:62px;
    padding: 10px 10px 10px 0px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;   
}